<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
		                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		                    http://www.springframework.org/schema/context 
		                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
		                    http://www.springframework.org/schema/tx 
		                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		                    http://www.springframework.org/schema/aop 
		                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"> 
	<bean id="employeeDao" class="cn.itcast.ssh.dao.impl.EmployeeDaoImpl" parent="baseDao">
	</bean>
	<bean id="sampleListDao" class="com.yx.sz.laboratory.workflow.dao.impl.SampleListDaoImpl" parent="baseDao">
	</bean>
	<bean id="leaveBillDao" class="cn.itcast.ssh.dao.impl.LeaveBillDaoImpl" parent="baseDao">
	</bean>
	<bean id="labGroupUserRuleDao" class="com.yx.sz.laboratory.organization.dao.impl.LabGroupUserRuleDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="checkReportDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.CheckReportDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="instrumentTationDao" class="com.yx.sz.laboratory.instrumenttation.dao.impl.InstrumentTationDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="productStandardDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.ProductStandardDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="foodParametersDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.FoodParametersDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="foodParametersEquipmentDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.FoodParametersEquipmentDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="nonFoodParametersDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.NonFoodParametersDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="nonFoodParametersEquipmentDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.NonFoodParametersEquipmentDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="subProcessHistoryDao" class="com.yx.sz.laboratory.proStandLibrary.dao.impl.SubProcessHistoryDaoImpl" parent="baseDao">
	</bean>
	
	<bean id="pstandardDao" class="com.yx.sz.laboratory.proStandardLib.dao.impl.ProductStandardDaoImpl" parent="baseDao"></bean>
	<bean id="foodParamDao" class="com.yx.sz.laboratory.proStandardLib.dao.impl.FoodParamDaoImpl" parent="baseDao"></bean>
	<bean id="foodParamAndEquipmentDao" class="com.yx.sz.laboratory.proStandardLib.dao.impl.FoodParamAndEquipmentDaoImpl" parent="baseDao"></bean>
	<bean id="nonFoodParamDao" class="com.yx.sz.laboratory.proStandardLib.dao.impl.NonFoodParamDaoImpl" parent="baseDao"></bean>
	<bean id="nonFoodParamAndEquipmentDao" class="com.yx.sz.laboratory.proStandardLib.dao.impl.NonFoodParamAndEquipmentDaoImpl" parent="baseDao"></bean>
	<bean id="flowGroupDao" class="com.yx.sz.laboratory.organization.dao.impl.LabFlowGroupDaoImpl" parent="baseDao"></bean>
	<bean id="privilegeDao" class="com.yx.sz.laboratory.organization.dao.impl.LabPrivilegeDaoImpl" parent="baseDao"></bean>
	<bean id="roleDao" class="com.yx.sz.laboratory.organization.dao.impl.LabRoleDaoImpl" parent="baseDao"></bean>
	<!-- 新增抽样单 -->
	<bean id="cattleDao" class="com.yx.sz.laboratory.workflow.dao.impl.CattleSampleListDaoImpl" parent="baseDao"></bean>
	<bean id="forestDao" class="com.yx.sz.laboratory.workflow.dao.impl.ForestFoodSampleListDaoImpl" parent="baseDao"></bean>
	<bean id="qualityDao" class="com.yx.sz.laboratory.workflow.dao.impl.QualitySampleListDaoImpl" parent="baseDao"></bean>
	<bean id="pollutionFreeDao" class="com.yx.sz.laboratory.workflow.dao.impl.PollutionFreeSampleListDaoImpl" parent="baseDao"></bean>
	
	
	
	
	
</beans>